Title: Predict placement status after graduation

Group member:
20BSIT035: Desai Neel Hemantkumar
20BSIT119: Patel Dev Mineshkumar

Description: Here we are going to predict the placement of students after the graduation using decision tree algorithm, decision tree algorithm is a supervised learning algorithm used for both classification and regression tasks, builds a tree-like model of decisions and their possible consequences based on input features.
It starts with a root node, which represents the entire dataset, and recursively splits the data into smaller subsets based on the most significant input feature.

Dataset Description: 
Dataset includes various cols such as:
1. Gender
2. Status
3. SSC Percentage
4. SSC Board
5. HSC Percentage
6. HSC Board
7. HSC Subject
8. Degree Percentage
9. Undergrad Degree
10. Work Experience
11. Employee test percentage
12. Specialization
13. MBA Percentage
so on this cols we are predicting the placement status after graduation

In [52]:
#Reading the dataset in a dataframe
#so for reading the dataset we have imported pandas library

import pandas as pd
#as the file is csv we are using read_csv is a ready made function in pandas library.
df=pd.read_csv(r"C:\NEEL DESAI\CMPICA\BSC-IT\Semester_6\DMA\Casestudy\placement_data.csv") #Here r indicates raw string literal
#passing na values
na1 = ["NA","?","Not Available","na","NA"]
df=pd.read_csv(r"C:\NEEL DESAI\CMPICA\BSC-IT\Semester_6\DMA\Casestudy\placement_data.csv",na_values=na1)

In [27]:
#displaying entire dataset
df.style.set_table_styles([{'selector': 'th','props': [('font-size', '16px')]}])

In [28]:
# fetching first six records
print("\n\n-------------------------------------------------------------------------------")
print("First Six records:")
print(df.head(6))
print("-------------------------------------------------------------------------------")
print("Last Four records:")
#fetching last four records
print(df.tail(4))
print("-------------------------------------------------------------------------------")

-------------------------------------------------------------------------------
First Six records:
  gender      status ssc_percentage ssc_board  hsc_percentage hsc_board  \
0      M         NaN             67       NaN           91.00       NaN
1      M      Placed          79.33   Central           78.33    Others
2      M      Placed             65   Central           68.00   Central
3      M         NaN             56   Central           52.00   Central
4      M         NaN            ?.8   Central           73.60   Central
5      M  Not Placed            NaN    Others           49.80    Others

  hsc_subject  degree_percentage undergrad_degree work_experience  \
0    Commerce              58.00         Sci&Tech              No
1         NaN              77.48         Sci&Tech             Yes
2         NaN              64.00        Comm&Mgmt              No
3     Science              52.00         Sci&Tech              No
4    Commerce              73.30        Comm&Mgmt              No
5     Science              67.25         Sci&Tech             Yes

   emp_test_percentage specialisation  mba_percent
0                  NaN         Mkt&HR        58.80
1                 86.5        Mkt&Fin        66.28
2                 75.0        Mkt&Fin        57.80
3                 66.0         Mkt&HR        59.43
4                 96.8        Mkt&Fin        55.50
5                  NaN        Mkt&Fin        51.58
-------------------------------------------------------------------------------
Last Four records:
    gender      status ssc_percentage ssc_board  hsc_percentage hsc_board  \
211      M      Placed             58    Others            60.0    Others
212      M      Placed             67       NaN            67.0    Others
213      F      Placed             74    Others            66.0    Others
214      M  Not Placed             62   Central            58.0    Others

    hsc_subject  degree_percentage undergrad_degree work_experience  \
211     Science               72.0         Sci&Tech              No
212    Commerce               73.0        Comm&Mgmt             Yes
213    Commerce               58.0        Comm&Mgmt              No
214     Science               53.0        Comm&Mgmt              No

     emp_test_percentage specialisation  mba_percent
211                 74.0        Mkt&Fin        53.62
212                 59.0        Mkt&Fin        69.72
213                  NaN         Mkt&HR        60.23
214                 89.0         Mkt&HR        60.22
-------------------------------------------------------------------------------

In [29]:
#datatype of all the columns of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               215 non-null    object
 1   status               202 non-null    object
 2   ssc_percentage       208 non-null    object
 3   ssc_board            204 non-null    object
 4   hsc_percentage       205 non-null    float64
 5   hsc_board            201 non-null    object
 6   hsc_subject          179 non-null    object
 7   degree_percentage    210 non-null    float64
 8   undergrad_degree     214 non-null    object
 9   work_experience      215 non-null    object
 10  emp_test_percentage  201 non-null    float64
 11  specialisation       215 non-null    object
 12  mba_percent          215 non-null    float64
dtypes: float64(4), object(9)
memory usage: 22.0+ KB

In [30]:
#as per dataset the cols are showing as object but actucal consists of numeric type so converting it into numberic
df['ssc_percentage']= pd.to_numeric(df['ssc_percentage'], errors= 'coerce')
df['hsc_percentage']= pd.to_numeric(df['hsc_percentage'], errors= 'coerce')
df['degree_percentage']= pd.to_numeric(df['degree_percentage'], errors= 'coerce')
df['emp_test_percentage']= pd.to_numeric(df['emp_test_percentage'], errors= 'coerce')
df['mba_percent']= pd.to_numeric(df['mba_percent'], errors= 'coerce')
print(df.info()) #checking whether object datatype is converted to numeric or not

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               215 non-null    object
 1   status               202 non-null    object
 2   ssc_percentage       207 non-null    float64
 3   ssc_board            204 non-null    object
 4   hsc_percentage       205 non-null    float64
 5   hsc_board            201 non-null    object
 6   hsc_subject          179 non-null    object
 7   degree_percentage    210 non-null    float64
 8   undergrad_degree     214 non-null    object
 9   work_experience      215 non-null    object
 10  emp_test_percentage  201 non-null    float64
 11  specialisation       215 non-null    object
 12  mba_percent          215 non-null    float64
dtypes: float64(5), object(8)
memory usage: 22.0+ KB
None

In [31]:
#checking for NA Values in dataframe
df.isnull().sum()

gender                  0
status                 13
ssc_percentage          8
ssc_board              11
hsc_percentage         10
hsc_board              14
hsc_subject            36
degree_percentage       5
undergrad_degree        1
work_experience         0
emp_test_percentage    14
specialisation          0
mba_percent             0
dtype: int64

In [32]:
 #printing unique and nunique values with its count
for col in df:
  print(col + " unique count = " + str(df[col].nunique()))
  print(df[col].unique(),end="\n\n")

gender unique count = 2
['M' 'F']

status unique count = 2
[nan 'Placed' 'Not Placed']

ssc_percentage unique count = 99
[67.   79.33 65.   56.     nan 46.   82.   73.   58.   69.6  47.   77.
 62.   63.   60.   79.   69.8  77.4  76.5  52.58 71.   76.76 64.   61.
 87.   69.   51.   81.   78.   74.   49.   76.   70.89 50.   75.2  54.4
 40.89 80.   60.4  68.   52.6  84.2  86.5  54.   83.   80.92 69.7  75.
 84.86 64.6  56.6  59.   66.5  84.   81.7  83.84 59.6  66.   52.   60.23
 70.5  45.   61.08 69.5  73.96 68.2  60.8  72.   80.4  76.7  74.9  77.44
 77.67 89.4  44.   75.4  53.   51.57 55.6  74.2  67.16 63.3  67.9  48.
 59.96 63.4  73.24 77.8  56.28 88.   78.5  61.8  65.2  83.96 54.2  55.68
 41.   83.33 43.   80.6 ]

ssc_board unique count = 2
[nan 'Central' 'Others']

hsc_percentage unique count = 95
[91.   78.33 68.   52.   73.6  49.8  49.2  64.   79.     nan 61.   68.4
 87.   47.   75.   66.2  67.   66.   65.   76.   60.8  60.   97.7  54.6
 76.5  73.5  53.   81.   51.   78.   44.   58.   77.   63.16 39.   73.
 71.98 62.   37.   73.2  61.12 45.83 66.6  71.4  65.58 73.4  64.2  74.
 78.5  70.29 83.83 64.8  70.4  80.   90.9  63.   89.83 90.   57.   69.
 62.5  82.   72.   50.   54.   72.8  40.   66.8  59.   71.   89.7  92.
 56.   64.89 65.66 86.   58.66 60.5  74.66 69.4  49.   87.6  72.5  42.16
 67.2  50.83 97.   71.5  60.33 62.83 65.5  77.6  70.2  61.4  61.33 42.  ]

hsc_board unique count = 2
[nan 'Others' 'Central']

hsc_subject unique count = 3
['Commerce' nan 'Science' 'Arts']

degree_percentage unique count = 86
[58.   77.48 64.   52.   73.3  67.25 79.   66.   72.   61.   60.   78.3
 65.   59.   50.   69.   65.6    nan 72.23 64.74 78.86 50.2  67.5  73.
 66.4  81.   57.   80.   68.   68.4  56.2  53.   61.4  74.   72.11 66.89
 67.4  75.   67.   72.7  62.   71.   78.   71.72 70.2  77.5  71.93 64.5
 77.2  82.   50.8  54.   76.   63.   83.   66.6  64.6  69.6  69.3  64.33
 75.5  77.72 77.   69.5  73.43 70.67 71.25 56.   84.   59.9  60.9  57.5
 77.25 63.35 61.26 64.27 64.2  62.8  64.21 59.79 54.38 69.2  64.8  56.3
 91.   56.87 77.6 ]

undergrad_degree unique count = 3
['Sci&Tech' 'Comm&Mgmt' 'Others' nan]

work_experience unique count = 2
['No' 'Yes']

emp_test_percentage unique count = 97
[  nan 86.5  75.   66.   96.8  74.28 67.   91.34 54.   62.   60.   68.
 76.   72.   50.48 50.   95.   55.53 92.   97.4  94.   73.35 77.   52.
 64.   50.89 88.   68.44 71.   58.   53.7  93.   65.   63.   89.   78.
 71.2  87.   80.   74.   57.6  61.6  59.   68.5  61.   89.69 68.92 68.71
 79.   95.5  86.   84.27 69.   86.04 82.   84.   78.74 53.88 95.46 93.91
 56.39 57.5  57.2  72.15 96.   97.   82.66 73.   55.67 80.4  55.5  81.2
 90.   74.4  55.6  56.   83.   57.   64.25 98.   56.15 93.4  57.63 75.2
 53.04 58.1  54.48 58.06 63.79 87.5  75.5  95.65 59.32 87.55 61.28 88.56
 92.66 91.  ]

specialisation unique count = 2
['Mkt&HR' 'Mkt&Fin']

mba_percent unique count = 205
[58.8  66.28 57.8  59.43 55.5  51.58 53.29 62.14 61.29 52.21 60.85 63.7
 65.04 68.63 54.96 64.66 62.54 67.28 64.08 77.89 56.7  69.06 68.81 63.62
 74.01 65.33 57.55 57.69 64.15 51.29 58.32 62.21 72.78 62.77 62.74 51.45
 55.47 56.86 62.56 66.72 69.76 51.21 62.9  69.7  66.53 71.63 54.55 62.46
 56.11 62.98 62.65 65.49 71.04 65.56 52.71 66.88 63.59 57.99 56.66 57.24
 62.48 59.69 59.5  58.78 57.1  58.46 60.99 59.24 68.07 65.45 66.94 68.53
 59.75 67.2  67.   64.27 57.65 59.42 67.99 62.35 70.2  60.44 66.69 62.
 76.18 57.03 59.08 64.36 62.36 68.03 62.79 59.47 55.41 54.97 62.16 64.44
 69.03 57.31 64.95 61.31 65.83 58.23 55.3  65.69 73.52 58.31 56.09 54.8
 60.64 53.94 63.08 55.01 60.5  70.85 67.05 70.48 64.34 58.81 71.49 71.
 61.26 73.33 68.2  58.4  76.26 68.55 60.78 53.49 60.98 67.13 65.63 61.58
 60.41 71.77 54.43 56.94 61.9  60.39 58.52 63.23 55.14 62.28 58.54 61.3
 58.87 65.25 53.2  65.99 52.72 55.03 61.87 60.59 72.29 62.72 66.06 66.46
 65.52 74.56 52.38 75.71 58.79 65.48 69.28 66.04 52.64 59.32 66.23 60.69
 57.9  70.81 72.14 56.6  60.02 59.81 61.82 57.29 71.43 62.93 64.86 56.13
 62.5  61.01 57.34 56.63 64.74 58.95 54.48 69.71 71.96 55.8  52.81 58.44
 60.11 58.3  67.69 56.81 53.39 71.55 62.92 56.49 74.49 53.62 69.72 60.23
 60.22]

In [33]:
#changing cols name as per requirement
df=df.rename(columns={'ssc_percentage': 'ssc_percent', 'hsc_percentage': 'hsc_percent', 'mba_percent': 'pg_percent'})

In [34]:
#treating all those values accordimg to their datatypes
#replace Na values of ssc percentage, Hsc percentage, Degree percentage and emp test percentage with mean
#replace Na values of ssc percentage, Hsc percentage, Degree percentage and emp test percentage with mean
df['ssc_percent']=df['ssc_percent'].fillna(df['ssc_percent'].mean())
df['hsc_percent']=df['ssc_percent'].fillna(df['hsc_percent'].mean())
df['degree_percentage']=df['degree_percentage'].fillna(df['degree_percentage'].mean())
df['emp_test_percentage']=df['emp_test_percentage'].fillna(df['emp_test_percentage'].mean())

#replacing na values of ssc_board, hsc_board, hsc subject, undergraduate degree by mode
df['ssc_board']=df['ssc_board'].fillna(df['ssc_board']).mode()[0]
df['hsc_board']=df['hsc_board'].fillna(df['hsc_board']).mode()[0]
df['hsc_subject']=df['hsc_subject'].fillna(df['hsc_subject']).mode()[0]
df['undergrad_degree']=df['undergrad_degree'].fillna(df['undergrad_degree']).mode()[0]
df['status'].fillna(method='bfill', inplace=True) #replacing by backward fill method

In [35]:
#checking for NA Values in dataframe is removed or not
df.isnull().sum()

gender                 0
status                 0
ssc_percent            0
ssc_board              0
hsc_percent            0
hsc_board              0
hsc_subject            0
degree_percentage      0
undergrad_degree       0
work_experience        0
emp_test_percentage    0
specialisation         0
pg_percent             0
dtype: int64

In [36]:
#Getting the statistical summary
df.describe()

,ssc_percent,hsc_percent,degree_percentage,emp_test_percentage,pg_percent
count,215.000000,215.000000,215.000000,215.000000,215.000000
mean,67.122850,67.122850,66.355190,72.470746,62.278186
std,10.542991,10.542991,7.155256,12.864199,5.833385
min,40.890000,40.890000,50.000000,50.000000,51.210000
25%,61.000000,61.000000,61.000000,61.000000,57.945000
50%,67.000000,67.000000,66.000000,72.470746,62.000000
75%,74.950000,74.950000,72.000000,82.330000,66.255000
max,89.400000,89.400000,91.000000,98.000000,77.890000

In [37]:
#Using this to convert categorical values to numerical
df_encoded = pd.get_dummies(df, columns=['ssc_board','hsc_board','hsc_subject','undergrad_degree','work_experience','specialisation'])

# print the encoded dataframe
print(df_encoded)

    gender      status  ssc_percent  hsc_percent  degree_percentage  \
0        M      Placed     67.00000     67.00000              58.00
1        M      Placed     79.33000     79.33000              77.48
2        M      Placed     65.00000     65.00000              64.00
3        M  Not Placed     56.00000     56.00000              52.00
4        M  Not Placed     67.12285     67.12285              73.30
..     ...         ...          ...          ...                ...
210      M      Placed     80.60000     80.60000              77.60
211      M      Placed     58.00000     58.00000              72.00
212      M      Placed     67.00000     67.00000              73.00
213      F      Placed     74.00000     74.00000              58.00
214      M  Not Placed     62.00000     62.00000              53.00

     emp_test_percentage  pg_percent  ssc_board_Central  hsc_board_Others  \
0              72.470746       58.80                  1                 1
1              86.500000       66.28                  1                 1
2              75.000000       57.80                  1                 1
3              66.000000       59.43                  1                 1
4              96.800000       55.50                  1                 1
..                   ...         ...                ...               ...
210            91.000000       74.49                  1                 1
211            74.000000       53.62                  1                 1
212            59.000000       69.72                  1                 1
213            72.470746       60.23                  1                 1
214            89.000000       60.22                  1                 1

     hsc_subject_Commerce  undergrad_degree_Comm&Mgmt  work_experience_No  \
0                       1                           1                   1
1                       1                           1                   0
2                       1                           1                   1
3                       1                           1                   1
4                       1                           1                   1
..                    ...                         ...                 ...
210                     1                           1                   1
211                     1                           1                   1
212                     1                           1                   0
213                     1                           1                   1
214                     1                           1                   1

     work_experience_Yes  specialisation_Mkt&Fin  specialisation_Mkt&HR
0                      0                       0                      1
1                      1                       1                      0
2                      0                       1                      0
3                      0                       0                      1
4                      0                       1                      0
..                   ...                     ...                    ...
210                    0                       1                      0
211                    0                       1                      0
212                    1                       1                      0
213                    0                       0                      1
214                    0                       0                      1

[215 rows x 15 columns]

In [38]:
#Getting infor of encoded dataset
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   gender                      215 non-null    object
 1   status                      215 non-null    object
 2   ssc_percent                 215 non-null    float64
 3   hsc_percent                 215 non-null    float64
 4   degree_percentage           215 non-null    float64
 5   emp_test_percentage         215 non-null    float64
 6   pg_percent                  215 non-null    float64
 7   ssc_board_Central           215 non-null    uint8
 8   hsc_board_Others            215 non-null    uint8
 9   hsc_subject_Commerce        215 non-null    uint8
 10  undergrad_degree_Comm&Mgmt  215 non-null    uint8
 11  work_experience_No          215 non-null    uint8
 12  work_experience_Yes         215 non-null    uint8
 13  specialisation_Mkt&Fin      215 non-null    uint8
 14  specialisation_Mkt&HR       215 non-null    uint8
dtypes: float64(5), object(2), uint8(8)
memory usage: 13.6+ KB

In [39]:
#Here X represnts the feature cols
X = df_encoded.values[:, 2:20]
#here Y represets as target cols
Y = df_encoded.values[:,1]
print(X)
print(Y)

[[67.0 67.0 58.0 ... 0 0 1]
 [79.33 79.33 77.48 ... 1 1 0]
 [65.0 65.0 64.0 ... 0 1 0]
 ...
 [67.0 67.0 73.0 ... 1 1 0]
 [74.0 74.0 58.0 ... 0 0 1]
 [62.0 62.0 53.0 ... 0 0 1]]
['Placed' 'Placed' 'Placed' 'Not Placed' 'Not Placed' 'Not Placed'
 'Not Placed' 'Placed' 'Not Placed' 'Not Placed' 'Placed' 'Placed'
 'Placed' 'Placed' 'Not Placed' 'Placed' 'Not Placed' 'Not Placed'
 'Not Placed' 'Placed' 'Placed' 'Placed' 'Placed' 'Placed' 'Placed'
 'Not Placed' 'Placed' 'Placed' 'Placed' 'Not Placed' 'Placed'
 'Not Placed' 'Placed' 'Placed' 'Not Placed' 'Not Placed' 'Not Placed'
 'Placed' 'Placed' 'Placed' 'Placed' 'Not Placed' 'Not Placed' 'Placed'
 'Placed' 'Not Placed' 'Not Placed' 'Placed' 'Placed' 'Placed' 'Placed'
 'Not Placed' 'Not Placed' 'Placed' 'Placed' 'Placed' 'Placed' 'Placed'
 'Placed' 'Placed' 'Placed' 'Placed' 'Placed' 'Not Placed' 'Placed'
 'Not Placed' 'Placed' 'Placed' 'Not Placed' 'Placed' 'Placed' 'Placed'
 'Placed' 'Placed' 'Placed' 'Not Placed' 'Placed' 'Placed' 'Placed'
 'Not Placed' 'Placed' 'Placed' 'Not Placed' 'Placed' 'Placed' 'Placed'
 'Placed' 'Not Placed' 'Placed' 'Placed' 'Placed' 'Not Placed' 'Placed'
 'Not Placed' 'Placed' 'Placed' 'Placed' 'Not Placed' 'Placed'
 'Not Placed' 'Not Placed' 'Placed' 'Placed' 'Placed' 'Placed'
 'Not Placed' 'Not Placed' 'Placed' 'Placed' 'Not Placed' 'Placed'
 'Not Placed' 'Placed' 'Placed' 'Placed' 'Placed' 'Placed' 'Placed'
 'Placed' 'Placed' 'Not Placed' 'Placed' 'Placed' 'Placed' 'Placed'
 'Placed' 'Placed' 'Placed' 'Placed' 'Placed' 'Not Placed' 'Placed'
 'Placed' 'Placed' 'Placed' 'Placed' 'Not Placed' 'Placed' 'Placed'
 'Placed' 'Placed' 'Not Placed' 'Placed' 'Placed' 'Not Placed' 'Placed'
 'Placed' 'Placed' 'Placed' 'Not Placed' 'Placed' 'Placed' 'Placed'
 'Placed' 'Placed' 'Not Placed' 'Placed' 'Placed' 'Not Placed'
 'Not Placed' 'Placed' 'Not Placed' 'Placed' 'Placed' 'Placed'
 'Not Placed' 'Placed' 'Not Placed' 'Not Placed' 'Not Placed' 'Not Placed'
 'Placed' 'Placed' 'Not Placed' 'Placed' 'Not Placed' 'Placed' 'Placed'
 'Placed' 'Not Placed' 'Placed' 'Not Placed' 'Not Placed' 'Placed'
 'Not Placed' 'Placed' 'Not Placed' 'Placed' 'Not Placed' 'Not Placed'
 'Not Placed' 'Placed' 'Placed' 'Placed' 'Not Placed' 'Placed' 'Placed'
 'Placed' 'Not Placed' 'Placed' 'Placed' 'Not Placed' 'Placed' 'Placed'
 'Placed' 'Placed' 'Not Placed' 'Placed' 'Not Placed' 'Placed' 'Placed'
 'Placed' 'Placed' 'Placed' 'Not Placed']

In [40]:
#IMPORTING TRAIN_TEST_SPLIT FROM sklearn
from sklearn.model_selection import train_test_split
#here we are splliting data in 70% trainging and 30%testing data

X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state = 100)

Here there are two methods:
    1. Gini
    2. Entropy
Gini:    Gini impurity is a measure of the degree of uncertainty or impurity in a set of data, 
         and is used in decision trees to evaluate the quality of potential splits.
Entropy: Entropy is a measure of the degree of uncertainty or impurity in a set of data, 
         and is used in decision trees to evaluate the quality of potential splits.

In [42]:
#IMPORTING decision tree classifier FROM sklearn
from sklearn.tree import DecisionTreeClassifier
#applying both gini and entropy method for checking accuracy
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,max_depth=3, min_samples_leaf=5)
clf_gini.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3, min_samples_leaf=5, random_state=100)

In [43]:
y_pred = clf_gini.predict(X_test)
y_pred

array(['Not Placed', 'Placed', 'Not Placed', 'Not Placed', 'Placed',
       'Not Placed', 'Placed', 'Placed', 'Placed', 'Placed', 'Not Placed',
       'Placed', 'Not Placed', 'Placed', 'Not Placed', 'Placed',
       'Not Placed', 'Placed', 'Placed', 'Placed', 'Placed', 'Placed',
       'Not Placed', 'Placed', 'Placed', 'Placed', 'Not Placed', 'Placed',
       'Not Placed', 'Not Placed', 'Placed', 'Placed', 'Placed', 'Placed',
       'Not Placed', 'Placed', 'Placed', 'Placed', 'Placed', 'Placed',
       'Not Placed', 'Placed', 'Placed', 'Placed', 'Not Placed', 'Placed',
       'Placed', 'Placed', 'Placed', 'Placed', 'Not Placed', 'Placed',
       'Placed', 'Placed', 'Placed', 'Placed', 'Placed', 'Placed',
       'Not Placed', 'Placed', 'Placed', 'Placed', 'Not Placed', 'Placed',
       'Placed'], dtype=object)

In [44]:
from sklearn.metrics import accuracy_score
print("Accuracy is ", accuracy_score(y_test,y_pred)*100)

Accuracy is  73.84615384615385

In [45]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

[[12 11]
 [ 6 36]]

In [46]:
#importing classification report from sklearn
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

  Not Placed       0.67      0.52      0.59        23
      Placed       0.77      0.86      0.81        42

    accuracy                           0.74        65
   macro avg       0.72      0.69      0.70        65
weighted avg       0.73      0.74      0.73        65

In [47]:
#IMPORTING decision tree classifier FROM sklearn
from sklearn.tree import DecisionTreeClassifier
#applying both gini and entropy method for checking accuracy
clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100,
                               max_depth=3, min_samples_leaf=5)
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=100)

In [48]:
y_pred = clf_entropy.predict(X_test)
y_pred

array(['Not Placed', 'Placed', 'Not Placed', 'Placed', 'Placed', 'Placed',
       'Placed', 'Placed', 'Placed', 'Placed', 'Not Placed', 'Placed',
       'Placed', 'Placed', 'Placed', 'Placed', 'Not Placed', 'Placed',
       'Placed', 'Placed', 'Placed', 'Placed', 'Placed', 'Placed',
       'Placed', 'Placed', 'Not Placed', 'Placed', 'Not Placed', 'Placed',
       'Placed', 'Placed', 'Placed', 'Placed', 'Placed', 'Placed',
       'Placed', 'Not Placed', 'Placed', 'Placed', 'Placed', 'Not Placed',
       'Placed', 'Placed', 'Placed', 'Placed', 'Placed', 'Placed',
       'Placed', 'Placed', 'Placed', 'Placed', 'Placed', 'Placed',
       'Placed', 'Not Placed', 'Placed', 'Placed', 'Not Placed', 'Placed',
       'Placed', 'Placed', 'Placed', 'Not Placed', 'Placed'], dtype=object)

In [49]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

[[10 13]
 [ 1 41]]

In [50]:
#importing classification report from sklearn
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

  Not Placed       0.91      0.43      0.59        23
      Placed       0.76      0.98      0.85        42

    accuracy                           0.78        65
   macro avg       0.83      0.71      0.72        65
weighted avg       0.81      0.78      0.76        65

In [51]:
from sklearn.metrics import accuracy_score
print("Accuracy is ", accuracy_score(y_test,y_pred)*100)

Accuracy is  78.46153846153847